# ===================================================================
# Python / General
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# ===================================================================
# Virtual Environment
venv/
.venv/
env/
ENV/

# ===================================================================
# Environment Variables
.env

# ===================================================================
# IDE / Editor specific files
.vscode/
.idea/

# ===================================================================
# Data Files
#
# data/raw/
# data/processed/

# ===================================================================
# Model Artifacts
model/